html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;

}

.main-container {
    min-height: 100vh; /* will cover the 100% of viewport */
    overflow: hidden;
    display: block;
    position: relative;
}

.nav-bar, .content-settings {
    width: 960px;
}
  

.nav-bar {
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 960px;
    margin: auto;
}

#header-setting1 {
    padding: 25px 0 5px 0;
    background-color: #4aaaa5;
    width: 225px;
    font-size: 28px;
    text-align: center;
    color: white;
}

h1 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    height: 50px;
    font-weight: 550;
}

ul {
    list-style-type: none;
  }
  
li {
    float: right;
    margin-top: 35px;
}
  
li a {
    display: inline;
    color: #9b9b9b;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
  
.left-marg {
    padding-left: 14px;
    border-left: 1px inset #9b9b9b;
}
  
.right-marg {
    padding-right: 14px;
}
  
li a:hover:not(.active) {
    font-size: 150%;
    color: #4aaaa5;
    text-decoration: underline;
}
  
.active {
    font-size: 150%;
    color: orange;
}

.container {
    width: 100%;
    height: 675px;
    background: whitesmoke;
    border-top: 1.5px outset lightgray;
    padding-top: 38px;
}

.content-settings {
    display: flex;
    flex-direction: column;
    height: 500px;
    margin: auto;
    left: 20px;
    right: 20px;
    background-color: white;
}

#header2-setting {
    margin: 25px 25px 0px 25px;
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 26px;
    color: #4aaaa5;
    border-bottom: 1.5px inset lightgray;
}

#input-settings {
    margin-top: 20px;
    margin-left: 25px;
    font-size: 16px;
    font-weight: 1;
    line-height: 2;
    color: #9b9b9b;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

input[type=text] {
    width: 910px;
    padding: 12px 20px;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 15px;
}
  
input[type=submit] {
    width: 100px;
    background-color: #4aaaa5;
    color: white;
    padding: 14px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
input[type=submit]:hover {
    background-color: #45a049;
}

#textbox-size {
    width: 910px;
    height: 100px;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
  
footer {
    position: absolute;
    bottom: 0;
    text-align: center; 
    height: 30px;
    width: 100%;
    padding-bottom: 15px;
    padding-top: 15px;
    border-top: 8px solid #4aaaa5;
    font-family: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace; 
    font-size: 15px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 500; 
    line-height: 26.4px;
    background-color: gray;
    color: white;
}